test.json
{
  "Comment": "A Step Function to start a DMS task, wait for completion, and process the output",
  "StartAt": "StartDMSTask",
  "States": {
    "StartDMSTask": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:dms:startReplicationTask",
      "Parameters": {
        "ReplicationTaskArn": "your-dms-task-arn",
        "StartReplicationTaskType": "start-replication"
      },
      "Next": "WaitForCompletion"
    },
    "WaitForCompletion": {
      "Type": "Wait",
      "Seconds": 30,
      "Next": "CheckDMSTaskStatus"
    },
    "CheckDMSTaskStatus": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:region:account-id:function:check-dms-task-status-function",
      "ResultPath": "$.statusResult",
      "Next": "IsDMSTaskCompleted"
    },
    "IsDMSTaskCompleted": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.statusResult.task_status",
          "StringEquals": "ready",
          "Next": "ProcessDMSTaskOutput"
        }
      ],
      "Default": "WaitForCompletion"
    },
    "ProcessDMSTaskOutput": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:region:account-id:function:process-dms-task-output-function",
      "End": True
    }
  }
}
