test.json
{
  "Comment": "A Step Function to start a DMS task, wait for completion, and process the output, with notification if running over 15 minutes",
  "StartAt": "StartDMSTask",
  "States": {
    "StartDMSTask": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:dms:startReplicationTask",
      "Parameters": {
        "ReplicationTaskArn": "your-dms-task-arn",
        "StartReplicationTaskType": "start-replication"
      },
      "ResultPath": "$.taskStartTime",
      "Next": "SetStartTime"
    },
    "SetStartTime": {
      "Type": "Pass",
      "ResultPath": "$.startTime",
      "Result": {
        "startTime": "$$.State.EnteredTime"
      },
      "Next": "WaitForCompletion"
    },
    "WaitForCompletion": {
      "Type": "Wait",
      "Seconds": 30,
      "Next": "CheckDMSTaskStatus"
    },
    "CheckDMSTaskStatus": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:region:account-id:function:check-dms-task-status-function",
      "ResultPath": "$.statusResult",
      "Next": "CheckElapsedTime"
    },
    "CheckElapsedTime": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.statusResult.task_status",
          "StringEquals": "stopped",
          "Next": "ProcessDMSTaskOutput"
        },
        {
          "Variable": "$.statusResult.task_status",
          "StringEquals": "running",
          "Next": "CheckIfOver15Minutes"
        }
      ],
      "Default": "WaitForCompletion"
    },
    "CheckIfOver15Minutes": {
      "Type": "Pass",
      "Parameters": {
        "startTime.$": "$.startTime",
        "currentTime.$": "$$.State.EnteredTime"
      },
      "ResultPath": "$.timeCheck",
      "Next": "CalculateElapsedTime"
    },
    "CalculateElapsedTime": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:region:account-id:function:calculate-elapsed-time-function",
      "ResultPath": "$.elapsedTime",
      "Next": "IsOver15Minutes"
    },
    "IsOver15Minutes": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.elapsedTime",
          "NumericGreaterThanEquals": 900,
          "Next": "SendNotification"
        }
      ],
      "Default": "WaitForCompletion"
    },
    "SendNotification": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:region:account-id:function:send-email-notification-function",
      "End": true
    },
    "ProcessDMSTaskOutput": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:region:account-id:function:process-dms-task-output-function",
      "End": true
    }
  }
}
